@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Row Styles */
@layer components {
  .scroll-container {
    @apply w-full overflow-hidden mt-12;
  }

  .scroll-row {
    @apply flex;
  }
  
  .scroll-item {
    @apply flex items-center justify-center py-[6px] px-4 font-extralight
           bg-row 
           rounded-md hover:bg-white/5 transition-colors text-nowrap;
  }

  .scroll-item-top {
    @apply relative;
  }

  .scroll-item-top::before {
    content: '';
    @apply absolute top-0 left-0 w-full h-px;
    background: linear-gradient(90deg, 
      transparent 0%, 
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 100%
    );
  }

  .scroll-item-middle {
    @apply relative;
  }

  .scroll-item-middle::before,
  .scroll-item-middle::after {
    content: '';
    @apply absolute left-1/2 w-1/2 h-px -translate-x-1/2;
    background: linear-gradient(90deg, 
      transparent 0%, 
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 100%
    );
  }

  .scroll-item-middle::before {
    @apply top-0;
  }

  .scroll-item-middle::after {
    @apply bottom-0;
  }

  .scroll-item-bottom {
    @apply relative;
  }

  .scroll-item-bottom::before {
    content: '';
    @apply absolute top-0 left-0 w-full h-px;
    background: linear-gradient(90deg, 
      transparent 0%, 
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 100%
    );
  }
}
