---
import Hero from '../components/Home/Hero.astro';
import Nav from '../components/ui/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class="bg-hero min-h-screen">
        <Nav />
     <Hero />
    </section>
  </main>
</Layout>
