---
import Layout from '@layouts/Layout.astro';
import Nav from '@components/ui/Nav.astro';
import Hero from '@components/Home/Hero.astro';
import Introduction from '@components/Home/Introduction.astro';
import Features from '@components/Home/Features.astro';
import ProductOverview from '@/components/Home/ProductOverview.astro';
---

<Layout>
  <main>
    <section class="bg-hero min-h-screen">
        <Nav />
        <Hero />
    </section>
    <Introduction />
    <Features />
    <ProductOverview />
  </main>
</Layout>
