---
---

<section class="mt-8 md:mt-20 flex items-center">
  <div class="mx-4 sm:mx-8 md:mx-[72px] text-white">
    <h1 class="text-4xl sm:text-6xl md:text-8xl leading-tight max-w-15ch font-bold mb-4 md:mb-6">
      Listen to academic papers on the go
    </h1>
    <p class="text-lg sm:text-xl text-white mb-6 md:mb-8 font-semibold">
      Save time by listening to papers anywhere, in your spare time
    </p>
    <a 
      href="/try" 
      class="inline-flex items-center justify-center text-base sm:text-lg bg-black text-white px-5 sm:px-6 py-2.5 sm:py-3 md:text-lg md:px-6 md:py-3 rounded-full"
    >
      Try the app free for 3 days
    </a>
  </div>
</section>