---
---

<section class="mt-12 flex items-center">
  <div class="mx-[72px] text-white">
    <h1 class="text-8xl leading-tight max-w-15ch font-bold mb-6">
      Listen to academic papers on the go
    </h1>
    <p class="text-xl text-white mb-8 font-semibold">
      Save time by listening to papers anywhere, in your spare time
    </p>
    <a 
      href="/try" 
      class="inline-flex items-center justify-center text-lg bg-black text-white px-6 py-3 rounded-full"
    >
      Try the app free for 3 days
    </a>
  </div>
</section>