---
---

<div class="bg-[#171A24] rounded-2xl p-8 lg:col-span-2">
  <h3 class="text-3xl font-black mb-4">
    Take notes easily
  </h3>

  <p class="text-white/70 text-sm font-light">
    Eu risus sed at turpis eu pharetra. Non turpis lectus eleifend nisl fringilla dui mollis lectus. Magna scelerisque ut et donec. Etiam non et eget ullamcorper.
  </p>
</div>
